a.btn {
    text-decoration: none;
}

.btn {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--fg-primary);
    padding: var(--s) var(--m);
    border-radius: var(--roundness);
    font-size: 1em;
}

.btn.btn--disabled, .btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn.btn--primary {
    color: var(--primary);
}

.btn.btn--grey {
    color: var(--fg-secondary);
}

.btn.btn--danger {
    color: var(--danger);
}

.btn:active {
    transform: scale(0.92);
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.05)
}

.btn.btn--circle {
    border-radius: 100%;
    padding: 0.5em;
}

.btn.btn--square {
    padding: var(--s);
}

.btn.btn--drag {
    padding: var(--s) 0px;
    color: var(--fg-secondary);
}