.input {
    background-color: var(--bg-primary);
    color: var(--fg-primary);
    border: solid 1px var(--fg-primary);
    border-radius: var(--roundness);
    width: 100%;
    padding: var(--s) var(--m);
    box-sizing: border-box;
    font-size: 1rem;
}

.input:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

label {
    display: block;
    font-size: 1rem;
    padding-bottom: var(--m);
    font-weight: 400;
    color: var(--fg-secondary);
}