.input {
    background-color: var(--bg-primary);
    color: var(--fg-primary);
    border: solid 1px var(--fg-primary);
    border-radius: var(--roundness);
    width: 100%;
    padding: var(--s) var(--m);
    box-sizing: border-box;
    font-size: 1rem;
}

.input:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

select {
    background-color: var(--bg-secondary);
    color: var(--fg-primary);
    border: none;
    border-radius: var(--roundness);
    padding: var(--s);
    font-size: 1em;
}

select:hover {
    background-color: var(--hover);
}

label {
    display: block;
    font-size: 1rem;
    padding-bottom: var(--m);
    font-weight: 400;
    color: var(--fg-secondary);
}

select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    text-align: center;
}

.radio {
    display: flex;
    flex-direction: row;
    gap: var(--m);
    flex-wrap: wrap;
}

.radio__option {
    border: 1px solid var(--fg-secondary);
    padding: var(--s) var(--m);
    border-radius: 3em;
    flex: 1;
    text-align: center;
    cursor: pointer;
}
.radio__option.radio__option--selected {
    border-color: var(--primary);
    color: var(--primary);
}
.radio__option:hover {
    background-color: var(--hover);
}