:root {
    --header-height: 56px;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 540px;
    box-sizing: border-box;
    top: 0px;
    position: relative;
    background-color: var(--bg-primary);
}

.container.container--header-pad {
    width: 100%;
    padding-top: var(--header-height);
}

header {
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 20;
    top: 0px;
    width: 100%;
    height: var(--header-height);
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
}

header.elevate {
    box-shadow: var(--shadow);
}