:root {
    --header-height: 66px;
}

html {
    height: 100%;
 }
 
 body {
    min-height: 100%;
 }

.container {
    margin: 0px auto;
    width: 100%;
    max-width: 540px;
    box-sizing: border-box;
    top: 0px;
    position: relative;
    background-color: var(--bg-primary);
}

.container.container--header-pad {
    width: 100%;
    padding-top: var(--header-height);
}

header {
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 20;
    top: 0px;
    width: 100%;
    height: var(--header-height);
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
}

header.elevate {
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-secondary);
    padding: var(--s);
}