.list-item {
    padding: var(--m);
}

.list-item.list-item--interactive {
    cursor: pointer;
}

.list-item.list-item--interactive .list-item__title:hover {
    color: var(--primary);
    text-decoration: underline;
}

.list-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.interactive {
    cursor: pointer;
}

.interactive.interactive--disabled, .interactive:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.interactive:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
