.tag {
    display: flex;
    align-items: center;
    padding: 0px var(--s);
    background-color: #311A4F;
    font-size: 0.7em;
    border-radius: 4px;
}

.tag.tag--secondary {
    color: var(--fg-secondary);
}

.tag.tag--square {
    padding: 2px;
}

.tag.tag--transparent {
    background-color: transparent;
}
.tag--teal {
    background-color: transparent;
    color: #37808A;
}
.tag--blue {
    background-color: transparent;
    color: #574EB0; /*#39337A*/
}
.tag--green {
    background-color: transparent;
    color: #51823F;
}
.tag--pink {
    background-color: transparent;
    color: #78337A;
}