h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    padding-bottom: var(--m);
}

p {
    font-weight: 100;
    padding: 0px 0px var(--m) 0px;
    margin: 0px;
    line-height: 1.5;
}
p.compact {
    line-height: 1.15;
}
p.no-gap-after, li > p {
    padding-bottom: 0px;
}

li {
    word-break: break-word;
}

a {
    color: var(--primary);
    cursor: pointer;
}
a.link--no-style, a.link--inherit, a.link--inherit:visited, a.link--inherit:hover {
    text-decoration: none;
    color: var(--fg-primary);
}
a.link--no-style:visited {
    color: var(--fg-primary);
}
a.link--no-style:hover {
    color: var(--primary);
    text-decoration: underline;
}

p.secondary {
    margin: var(--s) 0px 0px 0px;
}

p.center {
    text-align: center;
}

.secondary {
    color: var(--fg-secondary);
}

.primary {
    color: var(--primary);
}

.small {
    font-size: 0.8em;
}

.medium {
    font-size: 1em;
}

.large {
    font-size: 1.5em;
}

.thin {
    font-weight: 100;
}

.mono {
    font-family: monospace;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 auto;
}

.entity--math {
    display: block;
    width: 36px;
    height: 36px;
    font-size: 2em;
    line-height: 34px;
}

.entity-icon {
    display: inline-block;
    font-family: monospace;
    text-align: center;
}

.entity-icon--m {
    width: 18px;
    font-size: 18px;
    line-height: 18px;
}

.entity-icon--l {
    width: 32px;
    font-size: 32px;
    line-height: 32px;
}